

<h1> Create an Expert </h1>
<%= form_for @expert, url: {action: "create"} do |form| %>
  <div class="form-group">
    <label for="expert_name">Name</label>
    <%= form.text_field :name %>
  </div>
  <div class="form-group">
    <label for="expert_website">Website</label>
    <%= form.text_field :website %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to 'Back', experts_path %>
